<form method="POST">
      <div class="input">
        <label for="name">Full Name</label>
        <input id="name" name="name" type="text"/>
      </div>

      <div class="input">
        <label for="email">Email Address</label>
        <input id="email" name="email" type="email" />
      </div>
      <div class="input">
        <label for="Contact">Contact No</label>
        <input id="Contact" name="Contact" type="Contact" />
      </div>
    </form>
  <button type="submit" (click)="gettingData(1)">Submit</button>
